.bc-filtered-element.bc-filter-collapse {
  display: none !important;
}

.bc-filtered-element.bc-filter-blur {
  filter: blur(9px) saturate(0.65) !important;
  opacity: 0.62 !important;
  pointer-events: none !important;
  user-select: none !important;
}
